body {
    background-color: #393939 !important;
}

.bg-blue {
    background-color: #76A1AC !important;
}

.font-blue {
    color: #76A1AC !important;
}

.font-grey {
    color: #393939;
}
.font-white {
    color: #FFFFFFFF !important;
}
.font-22 {
    font-size: 22px;
}
.bg-grey {
    background-color: #393939 !important;
}
 .no-radius {
     border-radius: 0px 20px 20px 0px !important;
 }

 .radius-left {
     border-radius: 15px 0px 0px 15px !important;
 }

 .radius-right {
     border-radius: 0px 15px 15px 0px !important;
 }

 .glow-border {
     border: 1px solid rgba(118, 161, 172, 0.3);
     border-radius: 15px;
     box-shadow: 5px 5px 10px rgba(118, 161, 172, 0.6);
 }

#slider {
    transition: width 1s;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    margin-top: 8px;
    z-index: 1;
    transition: width 1s;
    transition-timing-function: ease-in;
}